.buttons {
  display: block;
  margin: 1rem 0;
}

a.button {
  font-weight: 600;
  font-size: 130%;
  display: inline-block;
  padding: .9rem 1.3rem;
  border-radius: 1.3rem;
  border: 1px solid #aaa;
  background: #9cf;
  margin-left: 1.3rem;
  color: white;
  vertical-align: middle;
  text-decoration: none;
}

a.button:hover {
  background: #b3daff;
  color: white;
}
