@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'), url('../fonts/SourceCodePro-Regular.woff2') format('woff2');
}

#date {
  outline: 0;
}

#date[contentEditable=true] {
  outline: 2px inset;
}

.edit {
  outline: 0;
}

.edit[contentEditable=true] {
  outline: 2px inset;
}

.edit.changed[contentEditable=false] {
  opacity: .5;
}

.edit:empty:not([contentEditable=true]) {
  opacity: .5;
}

.edit.html[contentEditable=true] {
  font-family: 'Source Code Pro', monospace;
  font-size: 80%;
  line-height: 140%;
}

#intro, #announces {
  min-height: 1rem;
}

li.warn {
  display: list-item;
  padding: 0;
}

.download form {
  display: contents;
}

.download input {
  border: 1pt solid #888;
  font-size: inherit;
  font-family: inherit;
  border-radius: .2rem;
}

.download input.text {
  box-sizing: border-box;
  margin-right: .5rem;
}

.download img.empty {
  opacity: .5;
}
