@import "switch.css";
@import "button.css";

#date {
  width: 6.5rem;
  text-align: center;
}

.litref {
  vertical-align: top;
  position: relative;
  top: .1rem;
  font-size: 90%;
  color: #888;
}

.loading {
  opacity: .5;
  transition: opacity .5s ease-in;
}

.strikeout {
  opacity: .3;
  text-decoration: line-through;
}

table, tr, td {
  border: 0;
  padding: 0;
  border-spacing: .5rem .2rem;
}

thead {
  font-weight: 600;
}

img.filetype {
  height: 1.5rem;
}
