@import "switch.css";
@import "button.css";

#date {
  min-width: 6rem;
  text-align: center;
}

.litref {
  vertical-align: top;
  position: relative;
  top: .1rem;
  font-size: 90%;
  color: #888;
}

.loading {
  opacity: .5;
  transition: opacity .5s ease-in;
}

.strikeout {
  opacity: .3;
  text-decoration: line-through;
}

.download {
  display: flex;
  margin: .2rem 0;
}

.icon, .discuss-enter {
  flex-basis: 1.5rem;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.icon {
  flex-basis: 1.5rem;
}

.discuss-enter {
  flex: 0 0 content;
}

.text {
  flex-grow: 1;
}

.icon img {
  height: 1.2rem;
  position: relative;
  bottom: -.1rem;
}
