#date {
  outline: 0;
}

#date[contentEditable=true] {
  outline: 2px inset;
}

.edit {
  outline: 0;
}

.edit[contentEditable=true] {
  outline: 2px inset;
}

.edit.changed[contentEditable=false] {
  opacity: .5;
}

.edit:empty:not([contentEditable=true]) {
  opacity: .5;
}

.edit.html[contentEditable=true] {
  font-family: monospace;
  font-size: 80%;
}

#intro, #announces {
  min-height: 1rem;
}

li.warn {
  display: list-item;
}

