@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url('../fonts/SourceSansPro-Regular.woff2') format('woff2'), url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url('../fonts/SourceSansPro-Italic.woff2') format('woff2'), url('../fonts/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url('../fonts/SourceSansPro-SemiBold.woff2') format('woff2'), url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold Italic'), local('SourceSansPro-SemiBoldItalic'), url('../fonts/SourceSansPro-SemiBoldItalic.woff2') format('woff2'), url('../fonts/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 800;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('../fonts/SourceSansPro-Bold.woff2') format('woff2'), url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
}

:root {
  font-family: 'Source Sans Pro';
  font-size: 13pt;
}

@media only screen and (max-width: 520pt) {
  :root {
    font-size: 10pt;
  }
}

@media only screen and (max-width: 400pt) {
  :root {
    font-size: 8pt;
  }
}

body {
  background: #ddd;
  line-height: 140%;
  max-width: 50rem;
  margin: .5rem auto;
}

nav {
  display: flex;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  margin: 0;
  vertical-align: middle;
  background: #888;
}

nav a {
  flex: 1 0 0px;
  padding: .5rem 0;
  text-align: center;
  color: white;
}

nav a:first-of-type {
  border-radius: 1rem 0 0 0;
}

nav a:last-of-type {
  border-radius: 0 1rem 0 0;
}

nav a:hover {
  background: #444;
}

nav .emph {
  font-weight: 800;
}

#main {
  border-radius: 0 0 1rem 1rem;
  border: 1px solid #888;
  padding: 1.5rem;
  background: white;
  position: relative;
}

main {
  position: relative;
}

main>:first-child {
  margin-top: 0;
}

main>:first-child {
  margin-top: 0;
}

main>:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  outline: 0;
  color: inherit;
}

#lastmod {
  text-align: right;
  position: absolute;
  right: 1rem;
  bottom: .5rem;
  font-style: italic;
  color: #ccc;
  font-size: 80%;
}

#lang {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
}

#lang svg {
  width: 1.5rem;
  height: 1rem;
}

#lang svg .primary {
  opacity: 0.3;
}

#lang svg .secondary {
  opacity: 0;
  transition: opacity 0.5s;
}

#lang svg .secondary:hover {
  opacity: 1;
}

.hide {
  display: none !important;
}

.warn {
  display: inline-block;
  border-radius: 0.8rem;
  background: repeating-linear-gradient(-45deg, #fcc, #fcc 0.2rem, #faa 0.2rem, #faa 0.4rem);
  padding: 0.2rem 0.4rem;
  border: 1px solid #c00;
}

.error {
  display: inline-block;
  border-radius: 0.8rem;
  background: repeating-linear-gradient(-45deg, #f66, #f66 0.2rem, #f88 0.2rem, #f88 0.4rem);
  border: 2px solid #900;
  padding: 0.8rem;
  font-weight: 600;
  font-size: 130%;
}

h1, h2 {
  clear: both;
  margin: 1.5rem 0 .7rem 0;
  font-weight: 600;
  line-height: 100%;
}

h1 {
  font-size: 160%;
}

h2 {
  font-size: 140%;
}

b, .emph {
  font-weight: 600;
}

.smaller {
  font-size: 90%;
}

.larger {
  font-size: 110%;
}

a[href^=http], a[href^=mailto], a.classic {
  color: #008;
}

a[href^=http]:hover, a[href^=mailto]:hover, a.classic:hover {
  color: #44c;
}

p {
  margin: 0.5rem 0;
}

ul {
  list-style: none;
  margin: .5rem 0;
  padding: 0;
}

ul li {
  position: relative;
  left: 1rem;
}

ul li::before {
  content: "→";
  display: inline-block;
  margin-left: -1rem;
  width: 1rem;
}

ol {
  margin: .5rem 0;
}

ol li {
  padding: .3rem;
}

sub, sup {
  font-size: 70%;
  vertical-align: top;
  position: relative;
}

sup {
  top: -.2rem;
}

sub {
  top: .3rem;
}

.inline-img {
  width: 1em;
  height: 1em;
  vertical-align: top;
}
