.switch {
  display: flex;
  justify-content: center;
  margin: .5rem 0;
  border-spacing: 0;
}

.switch.inline {
  display: inline-flex;
  justify-content: flex-start;
  margin: 0;
}

.switch a, .switch span {
  flex: 0 0 content;
  padding: .2rem .5rem;
  border: 1px solid #888;
  border-right: none;
}

.switch a[href] {
  background-image: linear-gradient(#eee, #999);
}

.switch a.selected {
  background-image: linear-gradient(#999, #eee);
}

.switch span, .switch a:not([href]), .switch a[href].disabled {
  background: #ddd;
}

.switch a:first-of-type {
  border-radius: 1rem 0 0 1rem;
  padding-left: .6rem;
}

.switch a:last-of-type {
  border-radius: 0 1rem 1rem 0;
  padding-right: .6rem;
  border-right: 1px solid #888;
}

.switch a:only-of-type {
  border-radius: 1rem;
}

.switch a.separate {
  border-radius: 1rem;
  padding: .2rem .6rem;
  border-right: 1px solid #888;
  margin-right: .5rem;
}

@media (hover: hover) {
  .switch a:hover {
    background: #eee;
  }
}
