.switch {
  display: table;
  border-radius: 1em;
  border: 1px solid #888;
  background-image: linear-gradient(#eee, #999);
  margin: 0 auto;
}

.switch a, .switch span {
  display: table-cell;
  color: black;
  padding: .2em .5em;
  border-right: 1px solid #888;
  vertical-align: middle;
}

.switch a.selected {
  background-image: linear-gradient(#999, #eee);
}

.switch a:first-of-type {
  border-radius: 1em 0 0 1em;
  padding-left: .6em;
}

.switch a:last-of-type {
  border-radius: 0 1em 1em 0;
  padding-right: .6em;
  border-right: none;
}

.switch a:hover {
  color: black;
}

@media (hover: hover) {
  .switch a:hover {
    background: #eee;
  }
}

.switch span, .switch a:not([href]) {
  background: #ddd;
}
