.switch {
  display: flex;
  justify-content: center;
  margin: .5rem 0;
  border-spacing: 0;
}

.switch.inline {
  display: inline-flex;
  justify-content: flex-start;
  margin: 0;
}

.switch > * {
  flex: 0 0 content;
  padding: .2rem .5rem;
  border: 1px solid #888;
  border-right: none;
}

.switch.separate > * {
  border-radius: 1rem;
  margin: .25rem;
  border-right: 1px solid #888;
}

.switch > input {
  display: none;
}

.switch > label, .switch > button, .switch > a {
  background-image: linear-gradient(#eee, #999);
  appearance: none;
  font: inherit;
}

.switch > input:checked + label {
  background-image: linear-gradient(#999, #eee);
}

.switch > span, .switch > input:disabled + label, .switch > :disabled, .switch > a:not([href]) {
  background: #ddd;
}

.switch:not(.separate) > :first-of-type {
  border-radius: 1rem 0 0 1rem;
  padding-left: .6rem;
}

.switch:not(.separate) > :last-of-type {
  border-radius: 0 1rem 1rem 0;
  padding-right: .6rem;
  border-right: 1px solid #888;
}

.switch:not(.separate) > :only-of-type {
  border-radius: 1rem;
}

@media (hover: hover) {
  .switch > *:not(:disabled):not(span):not(a:not([href])):hover {
    background: #eee;
  }
}
