#container {
  display: block;
  width: 25rem;
  border: inset 2px;
  margin: 0 auto;
  position: relative;
}

#canvas {
  display: block;
  width: 25rem;
  height: 50rem;
}

.inline-img {
  width: .8rem;
  height: .8rem;
}

.settings {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  grid-gap: .5rem;
}

#coords {
  position: absolute;
  left: 0;
  top: 0;
  width: 25rem;
  height: 25rem;
  opacity: 0.7;
  --color: black;
}

.c1 {
  --color: #4c4;
}

.c2 {
  --color: #c44;
}

.c3 {
  --color: #44c;
}

.filled {
  fill: var(--color);
}

.stroked {
  stroke: var(--color);
  stroke-width: 0.03;
  fill: none;
}

#shape-controls {
  transition: opacity .5s;
}

.hidden {
  opacity: 0;
}

.text {
  font-size: .4px;
}
