#container {
  display: block;
  width: 25rem;
  border: inset 2px;
  margin: 0 auto;
  position: relative;
}

#canvas {
  display: block;
  width: 25rem;
  height: 25rem;
}

#coords {
  position: absolute;
  left: 0;
  top: 0;
  width: 25rem;
  height: 25rem;
  opacity: 0.7;
  --color: black;
}

.white {
  --color: white;
}

.c1 {
  --color: #0cf;
}

.c2 {
  --color: #4e4;
}

.c3 {
  --color: #fc0;
}

#coords .stroked {
  stroke: var(--color);
  stroke-width: 0.03;
  fill: none;
}

#coords .filled {
  fill: var(--color);
}

#ratio {
  width: 100%;
}
