.row {
  text-align: center;
}

.pendulum {
  width: 15rem;
  height: 15rem;
  border: inset 2px;
  display: inline-block;
}

#graph {
  width: 25rem;
  height: 10rem;
  border: inset 2px;
  display: inline-block;
}

#controls {
  line-height: 100%;
}

#svg1 {
  --color-red: #f00;
  --color-blue: #00f;
}

#svg2 {
  --color-red: #f88;
  --color-blue: #88f;
}

.red {
  --color: var(--color-red);
}

.blue {
  --color: var(--color-blue);
}

.fill {
  fill: var(--color);
}

.stroke {
  stroke: var(--color);
}
