.row {
  text-align: center;
}

.pendulum {
  width: 15em;
  height: 15em;
  border: inset 2px;
  display: inline-block;
}

#graph {
  width: 25em;
  height: 10em;
  border: inset 2px;
  display: inline-block;
}

.inline-img {
  width: .8em;
  height: .8em;
}
