#container {
  display: block;
  width: 25em;
  border: inset 2px;
  margin: 0 auto;
}

#wigner {
  display: block;
  width: 25em;
  height: 25em;
  margin: 0;
}

#quad {
  display: block;
  width: 25em;
  height: 15em;
}
