.row {
  text-align: center;
}

.container {
  display: inline-block;
  border: inset 2px;
  width: 15rem;
  height: 15rem;
  position: relative;
}

#sphere, #vector {
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.controls .control {
  opacity: .7;
}
